@import "src/assets/styles/fonts.css";
.header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 66px;
    width: 1130px;
    height: 60px;
    left: 105px;
    top: 25px;
    padding: 20px 100px;
    position: fixed;
    border-radius: 10px;
    z-index: 120;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

body {
    background-color: #eff0f3;
}

.logo-it-website
{
    text-decoration: none;
    color: #2D66EE;
    width: 155px;
    height: 33px;
    line-height: 18px;
    letter-spacing: 0.846px;
    font-weight: 700;
    font-size: 20px;
}

.menu-composition
{
    display: flex;
}

.menu-composition a
{
    text-decoration: none;
    color: #000000;
}

.menu
{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
}

.phone-logo
{
    width: 20px;
    height: 20px;
}

.contacts-tel li
{
    display: block;
}

.contacts-tel li a
{
    text-decoration: none;
}

.email-logo
{
    width: 30px;
    height: 15px;
}

.phone-number
{
    left: 400px;
    display: inline;
    width: 109px;
    height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #2D66EE;
}

.email
{
    font-size: 15px;
    line-height: 19px;
    color: #2D66EE;
    width: 150px;
    height: 18px;
    font-style: normal;
    font-weight: 500;
}

.email a
{
    text-decoration: none;
}

.contacts-tel
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
    width: 472px;
    height: 24px;
}

.contacts-mail
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: -14px;
    width: 472px;
    height: 24px;
}

.contacts-mail li
{
    display: block;
}

.introduction
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    position: relative;
    width: 600px;
    left: 108px;
    margin-bottom: 0;
}

.introduction-big {
    width: 500px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    color: #101828;
    margin-bottom: 0;
}

.introduction-small {
    width: 500px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #101828;
    margin-top: 0;
}

.connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    gap: 32px;
    position: relative;
    width: 676px;
    left: 108px;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 0 24px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
}

.connection-information {
    width: 500px;
    font-style: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #101828;
}

.customer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 628px;
}

.number-text
{
    width: 224px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #667085;
    margin: 0;
    padding: 0;
}
.name-text
{
    width: 224px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #667085;
    margin: 0;
    padding: 0;
}

.input-number
{
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    width: 150px;
    height: 20px;
    margin: 0;
    outline: none;
    border: 0;
    border-bottom: 1px solid;
}

.input-name {
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    width: 150px;
    height: 20px;
    margin: 0;
    outline: none;
    border: 0;
    border-bottom: 1px solid;
}



.name-block
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    width: 224px;
}

.number-block
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    width: 224px;
}

.button-consultation
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 24px;
    gap: 8px;
    width: 132px;
    height: 58px;
    background: #2D66EE;
    border-radius: 8px;
    cursor: pointer;
}

.introduction-and-connection {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 160px;
    padding-bottom: 160px;
    background-image: url("src/assets/styles/Group.png");
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: right;
}

footer {
    width: 1224px;
    left: 108px;
    height: 222px;
    background: #101828;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 40px;
    margin: auto;
}

.header-footer {
    color: #FFFFFF;
    size: 36px;
    line-height: 18px;
    margin: 0;
}

.footer-names li
{
    display: flex;
    width: 1224px;
}

.footer-info-2 li
{
    display: flex;
    width: 1224px;
}

.footer-names
{
    display: flex;
    width: 1224px;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    color: #98A2B3;
}

.footer-info-2
{
    flex-direction: row;
    align-items: center;
    gap: 40px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    display: flex;
    color: white;
    width: 1224px;
}

.h2-footer
{
    padding-top: 10px;
    width: 160px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: #FFFFFF;
}

.blue-text
{
    color: #2f6ff5;
}